{% extends "base.html" %}

{% block content %}
<!-- Main content block for this template -->
<div class="container mt-5 d-flex align-items-center justify-content-center vh-100"> 
    <!-- Centering the content vertically and horizontally -->
    <div class="text-center">
        <h2>Contact   
 Me</h2>
        <p>Feel free to reach out to me on LinkedIn:</p>
        <a href="https://www.linkedin.com/in/prince-nkosi-professional/" class="btn btn-primary">LinkedIn</a>
    </div>
</div>
{% endblock %}